.input { 
    width: 50%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 40px;

    padding: 10px 30px; 
    background-color: var(--transparencyBlack);
    color: var(--white);
    font-size: 18px;  
    border: none;
    outline: 0;
    box-shadow: 3px 3px 10px 1px var(--boxShadowBlack);          

    &Wrap {       
        display: flex;
        justify-content: center;
        align-items: center;   
        border-radius: var(--borderRadius15);
    }
}

.button {
    width: 10%;
    padding: 10px 0;
    height: 40px;  
    border: none;
    background-color: var(--blue);
    color: var(--white);
    font-size: 18px;
    outline: 0;
    cursor: pointer;
    transition: var(--duration05);
    box-shadow: 3px 3px 10px 1px var(--boxShadowBlack);       
    &:hover {
        background-color: var(--hoverBlue);
    }
}


// Select
.sortSelectWrapper {
    position: relative;
}
.sortSeletBorder {  
    width: 50px;
    height: 50px;
    background-color: var(--white);
    border-radius: var(--borderRadiusFull);
    position: absolute;
    top: -5px;
    left: -25px;
    z-index: 100;

    // position: absolute;
    // top: 0;
    // left: 0;
}

.sortSelect {
    @extend .button;
    display: block;
    min-width: 150px;
    height: 40px;
    padding: 0 25px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    // outline: none;
    // border: none;
    // font-size: 16px;
    // color: var(--white);
    // background-color:  var(--blue);
    // cursor: pointer;
}



.sortSelect:focus {
    outline: none;
    border: none;
}

.sortOption {
    border: none; 
    outline: none;
}