html {
  overflow: hidden;
}

.main {
  padding: 35px;

  &Background {        
      background: url('/assets/images/app_background.jpg');
      width: 100vw;
      height: 100vh;
      background-position: 50%;
      background-size: cover;
  }
}

.cardList { 
  height: 85vh;
  padding: 25px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  overflow: hidden;
}
